<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./main.css">
    <title>Individual User</title>
  </head>
  <body>
    <div class="profile">
      {{#data}}
      <img class='avatar' src="{{avatar}}" alt="Single Avatar">
      <h1>{{name}}</h1><br>
      <h2>{{company}}</h2><br>
      <h3>{{job}}</h3><br>
      <p>{{email}} {{phone}}</p>
      {{/data}}
    </div>
  </body>
</html>
